<h1>Videos</h1>

<%= search_form_for @q, remote: true do |f| %>
  <div class="row">
    <div class="col-md-offset-8 col-md-3">
      <div class="input-daterange input-group" id="datepicker">
        <span class="input-group-addon">from</span>
        <%= f.text_field :created_at_gteq, html_options={class: "input-sm form-control"}%>
        <span class="input-group-addon">to</span>
        <%= f.text_field :created_at_lteq,  html_options={class: "input-sm form-control"} %>
      </div>
    </div>
    <%= f.submit "Search", html_options={class: " btn input-sm"} %>
  </div>
<% end %>
<hr>
<div id="videos">
  <%= render partial: "videos", locals: { videos:@videos, camera: @camera } %>
</div>
<%= link_to 'New Video', new_video_path, class: "btn btn-primary" %>
