<%= form_with(model: camera, local: true) do |form| %>
  <% if camera.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(camera.errors.count, "error") %> prohibited this camera from being saved:</h2>

      <ul>
      <% camera.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= form.label "Tiêu đề" %>
    <%= form.text_field :title, html_options = { "placeholder": "Tiêu đề", class: "form-control" }%>
  </div>
  <div class="form-group">
    <%= form.label "Mô tả bổ sung" %>
    <%= form.text_area :info, html_options = {"placeholder": "Mô tả bổ sung", class: "form-control"}%>
  </div>
  <div class="form-group">
    <%= form.label "Địa điểm" %>
    <% if @location %>
      <%= form.collection_select :location_id, current_user.locations, :id, :locate, {selected: @location.id, prompt: "Hãy chọn một địa điểm!"}, html_options = {class: "form-control"} %>
    <% else %>
      <%= form.collection_select :location_id, current_user.locations, :id, :locate, {prompt: "Hãy chọn một địa điểm!"}, html_options = {class: "form-control"} %>
    <% end %>
      </div>
  <div class="actions">
    <%= form.submit "Tạo", html_options={class: "btn btn-primary"} %>
  </div>
<% end %>
