<div class="row">
  <p id="notice"><%= notice %></p>
  <ul>
    <li><%= @camera.title %></li>
    <li><%= @camera.info %></li>
    <p><strong><%= @camera.token %></strong></p>
  </ul>
  <%= link_to 'Edit', edit_camera_path(@camera) %> |
  <%= link_to 'Back', cameras_path %>
</div>
<div class="row">
  <div class="col-md-offset-4"><h3>List Videos</h3></div>
</div>
<br>
<div class="row" id="videos">
  <%= render partial: "videos/videos", locals: { videos: @videos, camera: @camera } %>
</div>
<br>
<div class="row">
  <div class="col-md-offset-4"><h3>List Photos</h3></div>
</div>
<br>
<div class="row" id="photos">
  <%= render partial: "photos/photos", locals: { photos: @photos, camera: @camera } %>
</div>
